body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}





h1{
  margin: 50px auto 0 auto ;
  font-family: 'Sacramento', cursive;
  font-size:  5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;



}

h3{
  font-family: 'Montserrat', sans-serif;
color: #11999E;
background-color: white;


}




.stu{
  text-decoration: underline;
}

.top{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

p{
  line-height: 2;
}

hr{
border: dotted  #EAF6F6 6px;
border-bottom: none;
width : 4%;
margin: 100px auto;


}







.bottom{

background-color: #66BFBF;
padding: 20px 0 20px ;




}
a{
color: #11999E;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
margin: 10px 20px;

}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
font-size: 0.75 ;
}



.top-cloud{
  position: absolute;
  top:900px;
  bottom: 700px;
}


.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}

.bottom-cloud{
position: absolute;
left:800px;
bottom:700px;
}

.a1{
height: 200px;
border-radius: 50%;

}
.b{
width: 25%;
float: left;
margin-right:  30px;

}

.c{
width: 25%;
float: right;
margin-left: 30px;
}

.i{

margin: 40px auto ;

}

.btn {
	-moz-box-shadow: 4px -1px 14px -7px #276873;
	-webkit-box-shadow: 4px -1px 14px -7px #276873;
	box-shadow: 4px -1px 14px -7px #276873;
	background-color:#599bb3;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:43px;
	line-height:43px;
width:132px;
	text-decoration:none;
	text-align:center;
	text-shadow:0 0 0 #3d768a;
}.btn:hover {
	background-color:#408c99;
}.btn:active {
	position:relative;
	top:1px;
}
